@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

body {
     background: #f9f9f9;
     min-height: 100vh;

}

header {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     padding: 30px 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
}
.nav_wrapper {
     width: 100%;
     display: flex;
     justify-content: space-between;
}

.logo {
     font-size: 2em;
     color: #359381;
     pointer-events: none;
     
}

.navigation a {
     text-decoration: none;
     color: #359381;
     padding: 6px 15px;
     border-radius: 20px;
     margin: 0 10px;
     font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
     background: #359381;
     color: #fff;
}

.hero_section {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     overflow: hidden;
}

.hero_section img {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     pointer-events: none;
}

.hero_text {
     position: absolute;
     bottom: 45%;
     font-size: 225px;
}

#rock {
     animation: riseUp 2s ease-out forwards;
     animation-delay: 2s;
     opacity: 0;
     transform: translateY(100px);
}

#sky {
     animation: riseUp 1s ease-out forwards;
     animation-delay: 1s;
     opacity: 0;
     transform: translateY(100px);
}

.hero_text {
     animation: riseUp 1s ease-out forwards;
     opacity: 0;
     transform: translateY(100px);
}

@keyframes riseUp {
     from {
          opacity: 0;
          transform: translateY(100px);
     }

     to {
          opacity: 1;
          transform: translateY(0);
     }
}

/* Hamburger Icon */
.menu-toggle {
     display: none;
     font-size: 30px;
     color: #359381;
     cursor: pointer;
}

@media screen and (max-width: 1024px) {
     header {
          padding: 10px;
     }

     .hero_section {
          height: 100vh;
     }

     .hero_section img {
          bottom: 0;
          top: auto; /* Disable top positioning */
          width: 100%;
          pointer-events: none;
          position: absolute;
     }

     .hero_text {
          position: absolute;
          bottom: 45%;
          font-size: 175px;
     }
}

@media screen and (max-width: 768px) {
     header {
          padding: 10px;
     }

     .hero_section {
          height: 90vh;
     }

     .hero_section img {
          bottom: 0;
          top: auto; /* Disable top positioning */
          width: 100%;
          pointer-events: none;
          position: absolute;
     }

     .hero_text {
          position: absolute;
          bottom: 35%;
          font-size: 100px;
     }
}

@media screen and (max-width: 480px) {
     header {
          padding: 10px;
     }

     .hero_section {
          height: 50vh;
     }

     .hero_section img {
          bottom: 0;
          top: auto; /* Disable top positioning */
          width: 100%;
          pointer-events: none;
          position: absolute;
     }

     .hero_text {
          position: absolute;
          bottom: 35%;
          font-size: 50px;
     }
}


